/** IMPORTACIÓN DE FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/** Estilos globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    z-index: 1;
}

a {
    text-decoration: none;
}

.espaciador {
    position: absolute;
}

/** Barra de navegación */
header {
    width: 100%;
    height: 90px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

.menu {
    display: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    display: block;
    color: black;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.menu i {
    padding: 10px;
    transition: 0.2s;
}

.menu {
    border-radius: 50%;
}

.navbar ul li a:hover, .menu:hover {
    color: white;
    background: rgb(0, 0, 0);
}

.navbar ul li a.activo {
    color: white;
    background: rgb(0, 0, 0);
}

@media screen and (max-width: 800px) {
    .menu {
        display: block;
        cursor: pointer;
        z-index: 2;
    }

    .menu i {
        font-size: 30px;
        z-index: 2;
    }

    .navbar {
        height: 0;
        position: absolute;
        top: 80px;
        width: 100vw;
        background: rgb(255, 255, 255);
        transition: 0.2s;
        overflow: hidden;
        z-index: 2;
    }

    .navbar.activo {
        height: 100vh;
        z-index: 2;
    }

    .navbar ul {
        display: block;
        width: fit-content;
        margin: auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
        z-index: 2;
        padding: 0;
    }

    .navbar.activo ul {
        opacity: 1;
        z-index: 2;
    }

    .navbar ul li a {
        margin-bottom: 12px;
        z-index: 2;
    }
}


/** Inicio */
.inicio {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 800px;
}

#espaciador1 {
    bottom: 0;
}

#foto_banner {
    position: absolute;
    bottom: 10%;
    height:auto;
    width: 650px;
    right: 15%;
}

.titulo {
    position: absolute;
    left: 15%;
    bottom: 60%;
    font-family: "Roboto";
    font-weight: 500;
}

.inicio b {
    font-weight: 700;
    margin-left: 15px;
}


@media screen and (max-width: 1275px) {
    #foto_banner {
        left: 5%;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .titulo {
        top: 7%;
        left: 0;
        right: 0;
        position: relative;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

}

@media screen and (max-width: 700px) {
    .inicio {
        height: 400px;
    }

    #foto_banner {
        width: 280px;
        left: 2%;
        right: 0;
        top: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .titulo {
        position: initial;
        text-align: center;
    }

    .inicio-imagen {
        position: relative;
        width: 100%;
    }

}


/** Acerca de mí */
.acercademi {
    display: flex;
    margin: 0;
    width: 100%;
    padding: 78px 0px;
    height: 100vh;
    background-color: #f5dce0;
}

.acercademi img {
    height: auto;
    width: 175px;
    border-radius: 50%;
}

.acercademi-texto {
    width: 550px;
    font-family: "Roboto";
    font-weight: 400;
}

.acercademi-texto h2 {
    position: relative;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 10px;
}

.acercademi-texto h2::after {
    content: "";
    background: #f73030;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.acercademi-imgytexto {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 820px) {
    .acercademi {
        height: 650px;
    }

    .acercademi-imagen {
        width: 100%;
    }

    .acercademi-imgytexto {
        display: inline-block;
        text-align: center;
    }

    .acercademi-texto {
        display: inline-block;
        width: auto;
        margin-top: 20px;
    }

    .acercademi-texto h2, .acercademi-texto p {
        display: block;
        text-align: center;
        width: 280px;
    }
}

/** Servicios */
.servicios {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    width: 100%;
    padding: 78px 0px;
    height: 190vh;
    background-color: lightblue;
}

#espaciador2 {
    top: 0;
}

.contenedor {
    width: 100%;
    height: 100vh;
    padding: 0 8%;
}

.contenedor h2 {
    position: relative;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 500;
}

.contenedor h2::after {
    content: "";
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.fila {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.servicio {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: transform 0.3s, background 0.3s;
}

.servicio p {
    opacity: 0;
}

.servicio i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #303ef7;
}

.servicio h3 {
    margin-bottom: 8px;
}

.servicio:hover {
    background: #303ef7;
    color: #fff;
    transform: scale(1.05);
}

.servicio:hover i {
    color: #fff;
}

.servicio:hover > p {
    opacity: 1;
    transition: 0.2s;
}

#espaciador3 {
    bottom: 0;
}

@media screen and (min-width: 1290px) {
    .fila {
        grid-template-areas:
          "a b c"
          "d e f";
    }

    #servicio-prototipo {
        grid-area: a;
    }

    #servicio-multiplataforma {
        grid-area: b;
    }

    #servicio-ui {
        grid-area: c;
    }

    #servicio-personalizado {
        grid-area: d;
    }

    #servicio-control {
        grid-area: e;
    }

    #servicio-soporte {
        grid-area: f;
    }
}

@media screen and (max-width: 631px) {
    .servicios {
        display: block;
        height: 200vh;
    }
}


/** Contacto */
.contacto {
    display: flex;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00cba9;
}

.contacto-texto {
    max-width: 800px;
    text-align: center;
}

.contacto-texto h2 {
    position: relative;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 500;
}

.contacto-texto h2::after {
    content: "";
    background: #1c703e;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.contacto-contenido {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.info-contacto {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.contacto-elemento {
    display: flex;
    position: relative;
    padding: 20px 0;
    width: max-content;
}

.contacto-elemento .icono {
    display: flex;
    min-width: 60px;
    height: 60px;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contacto-elemento .texto {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;  
}

.contacto-elemento .texto a {
    display: inline-block;
    width: fit-content;
    background-color: black;
    border-radius: 50px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

#contacto-telefono .texto a:hover {
    background-color: #4c9466;
    transition: 0.2s;
}

#contacto-email .texto a:hover {
    background-color: rgb(52, 103, 255);
    transition: 0.2s;
} 

.contacto-mapa iframe {
    border-radius: 15px;
}

@media screen and (max-width: 1200px) {
    .contacto-contenido {
        display: grid;
        grid-template-areas:
          "a"
          "b";
    }

    .info-contacto {
        grid-area: a;
    }

    .contacto-mapa {
        grid-area: b;
    }
}

@media screen and (max-width: 700px) {
    .contacto-contenido {
        display: grid;
        grid-template-areas:
          "a"
          "b";
    }

    .info-contacto {
        grid-area: a;
    }

    .contacto-mapa {
        grid-area: b;
    }

    .contacto-mapa iframe {
        width: 80vw;
    }
}

/** Footer */
#gradiente {
    background-image: linear-gradient(#00cba9, #00826c);
    width: 100%;
    height: 25px;
}

footer, .footer-texto p {
    margin: 0;
    display: block;
    background-color: #00826c;
    text-align: center;
    padding-bottom: 5px;
}

/** Botón volver arriba */
.volver-arriba {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.volver-arriba.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.volver-arriba i {
    font-size: 32px;
}